[submodule "LLVM/include/llvm/Transforms/Obfuscation"]
	path = LLVM/include/llvm/Transforms/Obfuscation
	url = https://github.com/HikariObfuscator/Headers.git
[submodule "LLVM/lib/Transforms/Obfuscation"]
	path = LLVM/lib/Transforms/Obfuscation
	url = https://github.com/HikariObfuscator/Core.git
